body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #19191d;
}
.container {
  max-width: 760px;
}

header,
footer,
main {
  margin: 0 auto;
}
main {
  padding: 1rem;
  background-color: #d1d1e9;
}
main a {
  color: #e45858;
}

h1,
h2,
h3,
h5 {
  color: #2b2c34;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  padding: 1rem;
  margin-bottom: 1rem;
}
